[id^="image_modal"] {
  .ant-upload-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    > .ant-upload-list {
      text-overflow: ellipsis;
      overflow: hidden;
      .ant-upload-list-item {
        margin-top: 0;
      }
    }
  }

  .ant-form-item .ant-form-item {
    margin: 0;width: 100%;
  }
  #image_modal_item_background-color > div:first-child {
    flex: 1;
  }
}

@import url("../components/emoji_selector/emoji_selector.scss");
