#collections_list {
  --width: 250px;
  width: var(--width);
  min-width: var(--width);
  height: calc(100vh - 69px - 1px - 12px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: calc(2*51px);

  // li:last-child {
  //   padding: 8px;

  //   button {
  //     padding: 16px 24px;
  //     text-align: left;
  //     height: 100%;
  //   }
  // }
}
